<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <style>
    body {
      text-align: center;
    }
    h2 {
      color: black;
      font-family: Arial, sans-serif;
      font-size: 30px;
      font-weight: bold;
      align-items: 'center';
      justify-content: 'center';
    }
    .intro-text {
      margin: 20px 0;
      font-size: 18px; /* Ajusté la taille de police */
      color: #456b9c;
    }
  </style>
</head>
<body>
  <div class="container">
    <br><br><br>
    <h2>Bienvenue à ProductApplication</h2>
  
    <div class="intro-text">
      Notre application joue un rôle crucial dans la gestion des produits. Elle offre une interface utilisateur informative et conviviale pour présenter des détails essentiels sur notre entreprise et son approche vis-à-vis de la gestion des produits. Dans cette section, les utilisateurs peuvent trouver des informations clés sur notre philosophie, nos valeurs, et notre engagement envers la qualité des produits que nous offrons. Nous mettons en avant notre souci constant d'innovation et d'amélioration, avec un aperçu de notre processus de développement de produits.   </div>
  </div>
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>


