<body>
    <img src="assets/k.jpg" style="width:1358px;" height="520px" alt="...">
  
    
    <br>
            <br><br>
            <div class="container">
                <div class="row">
                  <div class="col">
                   <p class="f"><b>découvrir nos produits</b></p>
                  </div>
                  <div class="col">
                   <button class="g" routerLink="/apropos"><i class="fa fa-eye" aria-hidden="true"></i> Voir plus </button>
                  </div>
                </div>
    <app-footer></app-footer>
    <iframe width="1200" height="450" src="https://www.youtube.com/embed/huOVTcPUc_4?si=wfr6q3wQ5_ULuiOk" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>    <div class="container">        <div class="row">
          <div class="col-4">
    <div class="card" style="width:20rem;">
        <img src="assets/bb.jpg" style="width:318px;" height="200px" alt="...">
        <div class="card-body">
          <h5>Clarenia</h5>
    
        </div>
        </div>
      </div>
      <div class="col-4">
    
      <div class="card" style="width: 20rem;">
        <img src="assets/oo.jpg" style="width:318px;" height="200px" alt="...">
        <div class="card-body">
            <h5>HUILE DE TEA TREE</h5>
        </div>
      </div>
      </div>
      <div class="col-4">
    
      <div class="card" style="width: 20rem;">
        <img src="assets/TT.jpg" style="width:318px;" height="200px" alt="...">
        <div class="card-body">
            <h5>CREME VISAGE ANTI-ACNE</h5>
      </div>
      </div>
    </div> 
      </div>
      <br>
      <div class="container">
        <div class="row">
          <div class="col-4">
    <div class="card" style="width: 20rem;">
        <img src="assets/FF.jpg" style="width:318px;" height="200px" alt="...">
        <div class="card-body">
            <h5>FILORGA</h5>
    
        </div>
        </div>
      </div>
      <div class="col-4">
    
      <div class="card" style="width: 20rem;">
        <img src="assets/SS.jpg" style="width:318px;" height="200px"alt="...">
        <div class="card-body">
            <h5>NIVEA SOFT</h5>
        </div>
      </div>
      </div>
      <div class="col-4">
      <div class="card" style="width: 20rem;">
        <img src="assets/lars.jpg" style="width:318px;" height="200px"alt="...">
        <div class="card-body">
            <h5>Lars</h5>
        </div>
      </div>
      </div>
    </div> 
      </div>
  </div>
  </div></body>
  
